@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');


body {
  font-family: 'Roboto Mono',monospace;
  min-height: 100vh;
  min-width: 100vw;
  background: url(imgs/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
}

.alura-logo {
    width: 40px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.container2 {
    display: relative;
    text-align: center;
    min-height: 350px;
    border-radius: 10px;
    background: linear-gradient(80deg, #000080, #5f6397);
    margin-top: 100px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
  }

.page-title {
    color:#fff;
    margin: 0 0 5px;
}


.page-logo {
  display: absolute;
  width: 200px;
  margin-bottom: 15px;
}

.caixa-input {
    margin-bottom: 15px;
    font-family: 'Lexend',monospace;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 30px 20px;
}


.selects {
    padding: 10px 15px 20px;
    font-size: 0.8rem;
    border-radius: 10px;
}

.button {
    font-size: 1rem;
    align-items: center;
    padding: 10px 40px;
    border-radius: 10px;
    transition: all 300ms ease-in;
}

.button:hover {
  background-color: #5f6397;
  color: #fff;
  letter-spacing: 1px;
}

.numerofinal {
  position: absolute;
  color: #fff;
  bottom: 40px;
  right: 40%;
}

.feitopor { 
  position: absolute;
  color: #fff;
  bottom: 0px;
  font-size: 0.7rem;
  right: 56%;
}