    body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://i.pinimg.com/originals/a0/24/79/a024795cfa171c3d0f4b5033e2793bbb.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    }
  
  .page-title {
    color: #ffffff;
    margin-top: 40px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  body > img {
    margin: 0 10px;
  }

  /* Alterações */

  .container.pai {
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

  }

  .animes {
    display: inline;
    margin-left: 8px;
    transition: all 1000ms ease-out;
    visibility: hidden;
  }

  .animes:hover {
    opacity: 0.8;
  }

  .botoes {
    margin-top: 25px;
  }

  .input {
    padding: 12px;
    width: 220px;
    border-radius: 12px;
  }

  
  .buttom1 {
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 12px;
    background:  #4B0082;
    letter-spacing: 2px;
    color: #ffffff;
    transition: all 200ms ease-in-out;
    margin-bottom: 0px;
    cursor: pointer;
  }

  .buttom1:hover {
    background-color: #2d0649;
  }

  
  .buttom2 {
    padding: 12px 12px;
    margin-top: 10px;
    border-radius: 12px;
    background:  #4B0082;
    letter-spacing: 2px;
    color: #ffffff;
    transition: all 200ms ease-in-out;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .buttom2:hover {
    background-color: #2d0649;
  }
  
  .opcoesdeanime {
    font-size: 0.9em;
    border-radius: 5px;
    background-color: rgba(109, 64, 196, 0.6);
    color: #ffffff;
    transition: all 300ms ease-out;
    cursor: pointer;
  }

  .opcoesdeanime:hover {
    background-color: rgba(39, 14, 90, 1);
    text-decoration:underline;
  }

  #popuplista {
    display: none;
    position: fixed;
    top: 20%; left: 41%;
    background-color: rgba(109, 64, 196, 0.8);
    color: #ffffff;
    padding: 10px;
    width: 240px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: inset 0 0 0.5em white, 0 0 0.5em white;
  }

  .fecharPopup {
    text-decoration:underline;
    margin-left: 55px;
    transition: all 200ms ease-out;
    cursor: pointer;
  }

  .fecharPopup:hover {
    color: #000000;
  }

  
  